node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.vscode

# firebase
.firebase

# macOS
.DS_Store

configs/spotify.ts
configs/firebase.ts

# ignore for now
.github/workflows/